#container-cart{
    text-align: center;
    margin-top: 40px;
}
#container{
    display: flex;
    
}
#table-cart{
    background: linear-gradient(rgb(100, 94, 91), rgb(255, 253, 250));
    border-radius: 14px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  

.cartImg{
    width: 80px;
}


input{
    width: 40px;
}
th, td{
    padding: 6px 10px;
}
.form-group{
    margin: 0 auto;
}


#btnSeleccionar{
width: 12vh;
border-radius: 0.25rem;
background-color: white;
box-shadow: 2px 2px 8px 2px black;

}
#tablaDePrecios{
  background-color: white;
  border-radius: 0.25rem;
  background-clip: padding-box;
  width: 100%;
  box-shadow: 1px, 3px, 3px;
  height: 8,5vh;
  box-shadow: 2px 2px 8px 2px black;
}
#tablaDePrecios,th,td {
    border: 1px solid black;
}


form {
    position:relative;
}
#modal-content{
    width: 400px;
    position:absolute;
    top: 50px;
    left: 50px;
    display:none;
}

.invalid-feedback{
    color: wheat;
}


/*Mostrar el formulario*/

.hideAndShow{
    display: none;
}

#buy-btn{
    margin: auto;
    width: 30%;
    padding: 10px;}
.title{
    margin: auto;
    padding: 10px 30px;
    box-shadow: 2px 2px 8px 4px white;
    border-radius: 15px;
    background-color:  rgb(31, 31, 31);
    color: rgb(202, 198, 198);
    text-align: center;
    
}
