/*Login*/
@media only screen and (min-width: 200px) {
    #box {
        height: 550px;
        width: 65%;
        margin: 5px;
    }

    #logoimg {
        height: 130px;
        width: auto;
        padding: 5px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }

    #button {
        width: 25vw;
        height: 35px;
        align-items: center;
        justify-content: center;
    }
    #button:hover{
        background-color: #dadada;
        color: black;
        border-color: black;
        size-adjust: 1.15;
        transition-duration: 0.4s;
    }
    .form-control {
        width: 45vw;
        display: flex;
    }

    #alert_text {
        padding: 20px;
        width: 250px;
        font-size: 15px;
    }

    #alert {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    }
    .form{
       height: 100%;
        margin: 0 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .container p{
font-size: 15px;
    }
    p #right{
        text-align: right;

    }
    a #arriba{
        text-align: right;
        margin: 0
    }
    
    @media only screen and (min-width: 720px) and (max-width:2560px) {
        #box {
            height: 500px;
            width: 20%;
        }
        h1 {
            font-size: 35px;
            text-align: center;
            justify-content: center;
        }
        #button {
            width: 10vw;
            height: 30px;
            align-items: center;
            justify-content: center;

    }
    .form {
        margin: 0 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-control {
        width: 25vw;
        display: flex;
    }
    p #right{
        text-align: right;

    }
    a #arriba{
        text-align: right;
        margin: 0
}
#alert_text {
    padding: 20px;
    width: 250px;
    font-size: 20x;
}
#required p{
    font-size: 30x; 
    
}
    }
    @media only screen and (min-width: 720px) {
        #box {
            height: 550x;
            width: 35%;
        }
    }


    